# RCS Sets

## Sets

* unordered
* uniques only
* curly braces {3, 6, 7}

In [1]:
s={3,3,6,1,3,6,7}
print(s)

{1, 3, 6, 7}

In [2]:
a = set("ķiļķēni un klimpas")
a

{' ', 'a', 'i', 'k', 'l', 'm', 'n', 'p', 's', 'u', 'ē', 'ķ', 'ļ'}

In [6]:
a

{' ', 'a', 'i', 'k', 'l', 'm', 'n', 'p', 's', 'u', 'ē', 'ķ', 'ļ'}

In [3]:
a[:3]

TypeError: 'set' object is not subscriptable

In [4]:
al = list(a)
al

['l', 'ķ', 'p', 's', 'ļ', 'i', 'u', 'k', 'a', 'n', 'ē', ' ', 'm']

In [5]:
sorted(al)

[' ', 'a', 'i', 'k', 'l', 'm', 'n', 'p', 's', 'u', 'ē', 'ķ', 'ļ']

In [6]:
s

{1, 3, 6, 7}

In [7]:
nset = set(range(10))
nset

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [226]:
s.issuperset(range(6))

False

In [8]:
nset.issuperset(s)

True

In [9]:
s2={3,6,76,2,8,8}
s2

{2, 3, 6, 8, 76}

In [213]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [20]:
s

{1, 3, 6, 7}

In [10]:
s.issuperset({1,6})

True

In [11]:
s.issubset(set(range(100)))

True

In [12]:
s, s2

({1, 3, 6, 7}, {2, 3, 6, 8, 76})

In [13]:
# Returns element that are in exactly one set (out of two)
s.symmetric_difference(s2)

{1, 2, 7, 8, 76}

In [14]:
s, s2

({1, 3, 6, 7}, {2, 3, 6, 8, 76})

In [15]:
s3=s.union(s2)
s3

{1, 2, 3, 6, 7, 8, 76}

In [12]:
s, s2

({1, 3, 6, 7}, {2, 3, 6, 8, 76})

In [16]:
# Leaves s4 with those elements from s which are NOT in s2
s4=s.difference(s2)
s4

{1, 7}

In [17]:
s2.difference(s)

{2, 8, 76}

In [18]:
# the middle of Venn diagram, that is elements in BOTH sets
s.intersection(s2)

{3, 6}

In [19]:
s2.intersection(s)

{3, 6}

In [20]:
s3=s+s2
s3

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [21]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# More Practice with Sets
# https://www.hackerearth.com/practice/python/working-with-data/set/tutorial/