# RCS Tuples

## Tuples

*  ordered
* immutable (cannot be changed!)
* Can be used as a collection of fields

In [1]:
mytuple = 6, 4, 9
print(mytuple)

(6, 4, 9)

In [2]:
type(mytuple)

tuple

In [3]:
mytuple[2]

9

In [4]:
mytuple[:2]

(6, 4)

In [5]:
mytuple.count(9)

1

In [6]:
mytuple.index(9)

2

In [7]:
dir(mytuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [8]:
bigt = tuple(range(1,11))
bigt

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [9]:
bigt[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [10]:
bigt[3] = 33

TypeError: 'tuple' object does not support item assignment

In [11]:
mlist = list(bigt)
mlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
mlist[3] = 333
mlist

[1, 2, 3, 333, 5, 6, 7, 8, 9, 10]

In [14]:
newtup = tuple(mlist)
newtup

(1, 2, 3, 333, 5, 6, 7, 8, 9, 10)

A special problem is the construction of tuples containing 0 or 1 items: the syntax has some extra quirks to accommodate these. Empty tuples are constructed by an empty pair of parentheses; a tuple with one item is constructed by following a value with a comma (it is not sufficient to enclose a single value in parentheses). Ugly, but effective. For example:

In [15]:
double= 'hello', 'super'
double

('hello', 'super')

In [16]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
double= ('hello', 'super')
len(empty)
0
len(singleton)
1
print(empty,singleton,double)
#('hello',)
# The statement t = 12345, 54321, 'hello!' is an example of tuple packing: the values 12345, 54321 and 'hello!' are packed together in a tuple. The reverse operation is also possible:

() ('hello',) ('hello', 'super')

In [ ]:
lst=list(double)
lst

In [ ]:
dir(singleton)

## Unpacking tuples

In [17]:
mytuple

(6, 4, 9)

In [23]:
_, _, c = mytuple # of course we could just write c = mytuple[2]
print(c)

9

In [19]:
a, b, c = mytuple
print(a,b,c)

6 4 9

In [20]:
_

4

In [21]:
55

55

In [22]:
_

4

In [ ]:
mytuple[2]

In [24]:
ytup = ([1,2,3], "Petr", 66)
ytup

([1, 2, 3], 'Petr', 66)

In [25]:
btup = [1,2], 'Val', 3433, {'a':100, 'b':20}
btup

([1, 2], 'Val', 3433, {'a': 100, 'b': 20})

In [26]:
ytup[1] = 'Valdis'

TypeError: 'tuple' object does not support item assignment

In [27]:
ytup[2] = 'Valdis'

TypeError: 'tuple' object does not support item assignment

In [28]:
ytup[0] ='Valdis'

TypeError: 'tuple' object does not support item assignment

In [29]:
# We can't change tuples, but we can change list items inside tuple
ytup[0][1] = 'Valdis'
ytup

([1, 'Valdis', 3], 'Petr', 66)

In [30]:
ytup[0].append('something')
ytup

([1, 'Valdis', 3, 'something'], 'Petr', 66)

In [31]:
a, b, c = mytuple
print(a, b, c)

6 4 9

In [1]:
55

55

In [32]:
# Last Value in Memory
_

4

In [ ]:
# More on Tuples
# https://www.datacamp.com/community/tutorials/python-tuples-tutorial

In [34]:
ntup = tuple(range(10))
ntup

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [35]:
ntup[2:6:2]

(2, 4)

In [37]:
atup = ntup[:5]+ntup[2:9]
atup

(0, 1, 2, 3, 4, 2, 3, 4, 5, 6, 7, 8)

In [39]:
btup = atup*2

In [40]:
len(btup)

24

In [41]:
btup.count(2)

4

In [42]:
btup.index(2)

2

In [43]:
btup[2]

2

In [44]:
sum(btup)

90

In [45]:
min(btup),max(btup)

(0, 8)

In [ ]:
# So tuples are a bit faster than lists